@keyframes highlight {
  from {
    background: #fff;
  }

  to {
    background: rgba(255, 255, 255, 0);
  }
}

body {
  padding: 2em 5%;
  background: #faf4e8;

  @media (min-width: 600px) {
    padding-left: 3em;
    padding-right: 3em;
  }
}

a {
  border-bottom: 1px solid #999;
  transition: border 0.2s;
}

a:hover {
  border-color: #000;
}

.social-icon {
  border: none;
}

img {
  height: auto;
}

.footnotelink a {
  border: none;
}

.footnotes :target {
  animation-duration: 3s;
  animation-name: highlight;
}
